<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:compileSdkVersion="37"
    android:compileSdkVersionCodename="17"
    package="dev.arena.rankladder"
    platformBuildVersionCode="37"
    platformBuildVersionName="17"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 允许该应用创建网络套接字和使用自定义网络协议。浏览器和其他某些应用提供了向互联网发送数据的途径，因此应用无需该权限即可向互联网发送数据。 -->
    <uses-permission
        android:name="android.permission.INTERNET" />
    <!-- 允许该应用查看网络连接的相关信息，例如存在和连接的网络。 -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission
        android:name="dev.arena.rankladder.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="dev.arena.rankladder.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />
    <application
        android:theme="@style/Theme.RankLadder"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name="dev.arena.rankladder.MainActivity"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|uiMode"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false" />
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false" />
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="dev.arena.rankladder.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup" />
        </provider>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.INSTALL_PROFILE" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.SKIP_FILE" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.SAVE_PROFILE" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>